
version: '3.8'

services:
  app:
    build: .
    container_name: crm_app
    restart: always
    ports:
      - "80:4000"
    environment:
      - PORT=4000
      - MONGODB_URI=mongodb://hssncrm313:Hassancrm427726-@crm_database_crm003:27017/?tls=false
    volumes:
      - ./uploads:/app/uploads
